# OS metadata files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
logs/

# Backup and temp files
*.bak
*~

# Dependencies (accidental root installs)
node_modules/
__pycache__/
.venv/
env/
venv/

# Local Environment Overrides
.env
.env.*
